{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon.png' %}"
    />
    <title>Dashboard Admin</title>
    <!-- Bootstrap Core CSS -->
    <link
      href="{% static 'node_modules/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'node_modules/perfect-scrollbar/css/perfect-scrollbar.css' %}"
      rel="stylesheet"
    />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link
      href="{% static 'node_modules/morrisjs/morris.css' %}"
      rel="stylesheet"
    />
    <!--c3 CSS -->
    <link
      href="{% static 'node_modules/c3-master/c3.min.css' %}"
      rel="stylesheet"
    />
    <!--Toaster Popup message CSS -->
    <link
      href="{% static 'node_modules/toast-master/css/jquery.toast.css' %}"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="{% static 'css/pages/dashboard1.css' %}" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link
      href="{% static 'css/colors/default.css' %}"
      id="theme"
      rel="stylesheet"
    />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Project Manager</p>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <!-- Logo icon --><b>
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img
                  src="{% static 'images/logo-icon.png' %}"
                  alt="homepage"
                  class="dark-logo"
                />
                <!-- Light Logo icon -->
                <img
                  src="{% static 'images/logo-light-icon.png' %}"
                  alt="homepage"
                  class="light-logo"
                />
              </b>
              <!--End Logo icon -->
              <!-- Logo text --><span>
                <!-- dark Logo text -->
                <img
                  src="{% static 'images/logo-text.png' %}"
                  alt="homepage"
                  class="dark-logo"/>
                <!-- Light Logo text -->
                <img
                  src="{% static 'images/logo-light-text.png' %}"
                  class="light-logo"
                  alt="homepage"
              /></span>
            </a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
              <!-- This is  -->
              <li class="nav-item">
                <a
                  class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="sl-icon-menu"></i
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="sl-icon-menu"></i
                ></a>
              </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
              <!-- ============================================================== -->
              <!-- Profile -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown u-pro">
                <a
                  class="nav-link dropdown-toggle waves-effect waves-dark profile-pic"
                  href=""
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><img
                    src="{% static 'images/users/1.jpg' %}"
                    alt="user"
                    class=""
                  />
                  <span class="hidden-md-down"
                    >Admin &nbsp;<i class="fa fa-angle-down"></i
                  ></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right animated flipInY">
                  <ul class="dropdown-user">
                    <li>
                      <div class="dw-user-box">
                        <div class="u-img">
                          <img
                            src="{% static 'images/users/1.jpg' %}"
                            alt="user"
                          />
                        </div>
                        <div class="u-text">
                          <h4>Admin</h4>
                          <p class="text-muted">Administrator</p>
                        </div>
                      </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#"
                        ><i class="ti-settings"></i> Account Setting</a
                      >
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#"><i class="fa fa-power-off"></i> Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="nav-small-cap">--- ADMINISTRATOR</li>
              <li>
                <a
                  class="has-arrow waves-effect waves-dark"
                  href="#"
                  aria-expanded="false"
                  ><i class="icon-Car-Wheel"></i
                  ><span class="hide-menu">Olah Data </span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="index.html">Users </a></li>
                  <li><a href="index2.html">Wilayah</a></li>
                  <li><a href="index3.html">Jobtitle</a></li>
                </ul>
              </li>
              <li>
                <a
                  class="has-arrow waves-effect waves-dark"
                  href="#"
                  aria-expanded="false"
                  ><i class="icon-Double-Circle"></i
                  ><span class="hide-menu">Jobdesk </span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="app-calendar.html">All</a></li>
                  <li><a href="app-chat.html">Sudah</a></li>
                  <li><a href="app-ticket.html">Belum</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          {% block content %} {% endblock %}
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <div class="right-sidebar">
            <div class="slimscrollright">
              <div class="rpanel-title">
                Service Panel
                <span><i class="ti-close right-side-toggle"></i></span>
              </div>
              <div class="r-panel-body">
                <ul id="themecolors" class="m-t-20">
                  <li><b>With Light sidebar</b></li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="default"
                      class="default-theme"
                      >1</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="green"
                      class="green-theme"
                      >2</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="red"
                      class="red-theme"
                      >3</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="blue"
                      class="blue-theme"
                      >4</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="purple"
                      class="purple-theme"
                      >5</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="megna"
                      class="megna-theme"
                      >6</a
                    >
                  </li>
                  <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="default-dark"
                      class="default-dark-theme working"
                      >7</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="green-dark"
                      class="green-dark-theme"
                      >8</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="red-dark"
                      class="red-dark-theme"
                      >9</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="blue-dark"
                      class="blue-dark-theme"
                      >10</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="purple-dark"
                      class="purple-dark-theme"
                      >11</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      data-theme="megna-dark"
                      class="megna-dark-theme "
                      >12</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
          © 2020 Proman by IT INFORMA STUDIO
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'node_modules/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{% static 'node_modules/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'node_modules/ps/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="{% static 'node_modules/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'node_modules/morrisjs/morris.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'node_modules/d3/d3.min.js' %}"></script>
    <script src="{% static 'node_modules/c3-master/c3.min.js' %}"></script>
    <!-- Popup message jquery -->
    <script src="{% static 'node_modules/toast-master/js/jquery.toast.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'js/dashboard1.js' %}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static 'node_modules/styleswitcher/jQuery.style.switcher.js' %}"></script>
  </body>
</html>
